APP_NAME=notification-service

# MongoDB
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DATABASE=notification
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_AUTH_SOURCE=admin

# RabbitMQ
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# Application
SERVER_PORT=8080